body {
    font-family: Arial, Helvetica, sans-serif;
}

table.zebra tr {
    padding-left: 0.5em;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

table.zebra th {
    background-color: aquamarine;
}

table.zebra tr:nth-child(odd) {
    background-color: aliceblue;
}

table.zebra tr:nth-child(even) {
    background-color: beige;
}

table.zebra tr:nth-child(odd):hover, table.zebra tr:nth-child(even):hover {
    background-color: antiquewhite;
}

dd {
    margin-left: 0px;
    text-align: left;
    font-weight: bold;
}

form, input, label {
    padding: 5px;
    display: block;
}